/*
*= require bootstrap/css/bootstrap
*= require bootstrap-datepicker/css/bootstrap-datepicker3
*= require select2/css/select2
*= require select2-bootstrap-theme/select2-bootstrap
*= require_self
*/

body {
    padding-top: 70px;
    padding-bottom: 20px;
}

label {
    font-weight: normal;
}

textarea {
    resize: none;
    min-height: 100px;
}

textarea.vertical-only { resize: vertical; }

input[readonly]{
    background-color: transparent !important;
}

.well {
    background: #FEFEFE;
    margin-bottom: 5px;
}

.alert {
    margin: 10px 0;
}

table {
    margin-top: 10px;
}

.table th {
    font-weight: normal;
    text-transform: uppercase;
}

.nav-tabs {
    margin-bottom: 15px;
}

.panel > .panel-heading {
    background: #F6F6F6;
}

.border-less > tbody > tr:first-child > td {
    border: none;
}

details {
    margin-bottom: 10px;
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

summary::before {
    content: '\25B6';
    padding-right: 0.5em;
}

details[open] > summary::before {
    content: '\25BC';
}
